<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">
          <div class="card col-md-7 p-4 mb-0">
            <div class="card-body">
              <h1>Iniciar sesion</h1>
              <br />
              <router-outlet></router-outlet>
            </div>
          </div>
          <div class="card col-md-5 text-white bg-primary py-5">
            <div class="card-body text-center">
              <div>
                <h2>Logo</h2>
                <p>aqui vendra el logo de la consultora juridica</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
